.threed{
  font-size: 56px;
  color:rgb(50,50,150);
  text-shadow:1px 1px 2px rgb(40,40,140), 2px 2px 2px rgb(35,35,135),
    4px 4px 2px rgb(30,30,130), 3px 4px 4px rgba(0,0,0,0.2);
}

.box-threed{
  background-color: rgb(200,50,50);
  width: 300px;
  height: 200px;
  box-shadow: 3px 3px 0px 3px rgb(180,40,40), 3px 4px 4px rgba(0,0,0,0.2);
}

.box-threed:active{
  box-shadow: 2px 2px 0px 2px rgb(180,40,40), 3px 4px 4px rgba(0,0,0,0.2);
}


.card-two, .card-three{
  background: white;
  border-radius:2px;
  width: 400px;
  height: 300px;
  position: relative;
}

.card-two::before, .card-two::after{
  content: "";
  width: 30%;
  height: 10px;
  top:93%;
  left:69%;
  transform: rotate(5deg);
  background-color: transparent;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 15px 10px rgba(0,0,0,0.3);
}
.card-two::before{
  left:1%;
  transform: rotate(-5deg);
}

.card-three::after{
  content: "";
  width: 30%;
  height: 10px;
  top:93%;
  left:69%;
  transform: rotate(5deg);
  background-color: transparent;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 15px 10px rgba(0,0,0,0.3);
}



body{
  background-color: #eee;
  font-family: Roboto, Arial, Helvetica;
}
div{
  display: inline-block;
  margin:5px;
}
.card{
  background: white;
  border-radius:2px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
}
